{% extends 'adminapp/alayout.html' %}
{% block content %}


<link rel="stylesheet" href="../static/adminapp/css/style2.css">


    
    <!-- end Simple Custom CSS and JS -->

    <style>


div{
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    word-break: break-word;
}
h3{
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
#pl-1017 .so-panel, #pl-1017 .so-panel:last-child {
    margin-bottom: 0px;
}

.panel-grid-cell .panel-last-child {
    margin-bottom: 0;
}
.panel-grid-cell .so-panel {
    zoom: 1;
}
#pgc-1017-3-1 {
    width: 50%;
    width: calc(50% - ( 0.5 * 30px ) );
}
.panel-grid-cell {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
 #pl-1017 .so-panel{
    margin-bottom: 0px;
}
.panel-grid-cell .so-panel {
    zoom: 1;
}


         .panel-grid.panel-no-style {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.panel-grid.panel-no-style {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    -ms-justify-content: space-between;
    justify-content: space-between;
}


             [data-buttonizer="buttonizer-CyDSif0Hv2Rzic8"] {
                    left: 5%;
                    bottom: 5%;
                }

                
                [data-buttonizer="buttonizer-CyDSif0Hv2Rzic8"] .buttonizer-button {
                    background-color: rgba(12,39,91,1);
                    color: rgba(255,255,255,1);
                    border-radius: 0%;
                    
                }
                
                [data-buttonizer="buttonizer-CyDSif0Hv2Rzic8"] .buttonizer-button:hover {
                    background-color: rgba(18,44,101,1);
                    color: rgba(255,255,255,1)
                }
                
                [data-buttonizer="buttonizer-CyDSif0Hv2Rzic8"] .buttonizer-button .buttonizer-label {
                    background-color: rgba(78,76,76,1);
                    color: rgba(255,255,255,1);
                    font-size: px;
                    border-radius: px;
                }
    
                [data-buttonizer="buttonizer-CyDSif0Hv2Rzic8"] .buttonizer-button i {
                    color: rgba(255,255,255,1);
                    font-size: 25px;
                }
    
                [data-buttonizer="buttonizer-CyDSif0Hv2Rzic8"] .buttonizer-button i:hover {
                    color: rgba(255,255,255,1);
                }
                
                [data-buttonizer="buttonizer-CyDSif0Hv2Rzic8"].attention-animation-true.buttonizer-animation-pulse .buttonizer-head:before, 
                [data-buttonizer="buttonizer-CyDSif0Hv2Rzic8"].attention-animation-true.buttonizer-animation-pulse .buttonizer-head:after {
                    background-color: rgba(12,39,91,1);
                }
            
                    [data-buttonizer="buttonizer-CyDSif0Hv2Rzic8"] [data-buttonizer="buttonizer-button-sqetbuTAHVOULTn"] .buttonizer-label {
                        font-size: 12px;
                        border-radius: 3px;
                        -moz-border-radius: 3px;
                        -webkit-border-radius: 3px;
                    }
                
            [data-buttonizer="buttonizer-CyDSif0Hv2Rzic8"] [data-buttonizer="buttonizer-button-sqetbuTAHVOULTn"] i {
                color: rgba(255,255,255,1);
                font-size: 10px;
    
                transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -webkit-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
            }
    
            [data-buttonizer="buttonizer-CyDSif0Hv2Rzic8"] [data-buttonizer="buttonizer-button-sqetbuTAHVOULTn"]:hover i{
                color: rgba(255,255,255,1);
    
                transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -webkit-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
            }
            
                    [data-buttonizer="buttonizer-CyDSif0Hv2Rzic8"] [data-buttonizer="buttonizer-button-AkVDyEfdSyXeZ7d"] .buttonizer-label {
                        font-size: 12px;
                        border-radius: 3px;
                        -moz-border-radius: 3px;
                        -webkit-border-radius: 3px;
                    }
                
            [data-buttonizer="buttonizer-CyDSif0Hv2Rzic8"] [data-buttonizer="buttonizer-button-AkVDyEfdSyXeZ7d"] i {
                color: rgba(255,255,255,1);
                font-size: 10px;
    
                transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -webkit-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
            }
    
            [data-buttonizer="buttonizer-CyDSif0Hv2Rzic8"] [data-buttonizer="buttonizer-button-AkVDyEfdSyXeZ7d"]:hover i{
                color: rgba(255,255,255,1);
    
                transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -webkit-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
            }
            </style>
    
    <body class="page-template-default page page-id-1017 wp-custom-logo everest-forms-js siteorigin-panels  non-transparent left-logo-right-menu full-width">
    
    
    <div id="preloader-background" style="display: none;">
        <div id="spinners">
            <div id="preloader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    
    
   
        
        
            <nav id="flash-breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <div class="tg-container">
                <h1 class="trail-title">About KVM Trust</h1>			<ul class="trail-items"><li class="trail-item trail-begin"><a class="trail-home" href="http://kvmtrust.in" title="Home"><span>Home</span></a></li><li class="trail-item"><span>About KVM Trust</span></li></ul>		</div>
        </nav>
        
        
        <div id="content" class="site-content">
            <div class="tg-container">
    
        
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
    
                
    <article id="post-1017" class="post-1017 page type-page status-publish hentry">
    
        
        <div class="entry-content">
            <div id="pl-1017" class="panel-layout"><div id="pg-1017-0" class="panel-grid panel-no-style"><div id="pgc-1017-0-0" class="panel-grid-cell"><div id="panel-1017-0-0-0" class="so-panel widget widget_text panel-first-child panel-last-child" data-index="0">			<div class="textwidget"><h3 class="widget-title">About KVM TRUST</h3>
    <p>K Velayudhan Memorial Trust formed on 24<sup>th</sup>&nbsp;December 1983 with the objective of providing relief and solace to the poor and needy, mainly in Charitable and Education field. The emphasis is on health Education, Welfare of Women, Children and other weaker sections of the society including Disabled, retarded and Discarded as well as higher education in science and technology. K. Velayudhan Memorial Trust was registered under Travancore Cochin Literary, Scientific and Charitable Societies Registration Act XII of 1955 with Registration Number A/239/87.</p>
    <p>Over the years, the trust has earned a reputation for itself by fulfilling the educational aspirations of many and self providing relief through its pioneering activities in educational and charity fields and by running organizations and institutions of international quality. The many educational institutions setup by the trust have become the most preferred choice for the students in the region for their excellent infrastructure and exceptional quality of teaching. The social service organizations run by the trust have brought hope and happiness to many children and families.</p>
    <p>The trust is constantly on the lookout for new avenues to channelize its energy and resources addressing newer needs and aspirations of the society and in service of humanity.</p>
    </div>
            </div></div></div><div id="pg-1017-1" class="panel-grid panel-no-style"><div id="pgc-1017-1-0" class="panel-grid-cell"><div id="panel-1017-1-0-0" class="so-panel widget widget_themegrill_flash_heading tg-widget section-title-wrapper panel-first-child panel-last-child" data-index="1">	<h3 class="section-title">Managing Committee</h3>
    </div></div></div><div id="pg-1017-2" class="panel-grid panel-no-style"><div id="pgc-1017-2-0" class="panel-grid-cell"><div id="panel-1017-2-0-0" class="so-panel widget widget_themegrill_flash_service tg-widget tg-single-service panel-first-child panel-last-child" data-index="2">
    <div class="tg-service-widget tg-service-layout-1">
        <div class="service-wrapper">
            <div class="service-icon-title-wrapper clearfix">
                                        <figure class="service-image-wrap"><img src="../static/adminapp/images/members/saraswathy-pyarelal-photo.jpg"></figure>
                                        <h3 class="service-title-wrap">
                    Mrs. Saraswathy Pyarelal							</h3>
                        </div>
                        </div>
    </div>
    </div></div><div id="pgc-1017-2-1" class="panel-grid-cell"><div id="panel-1017-2-1-0" class="so-panel widget widget_themegrill_flash_service tg-widget tg-single-service panel-first-child panel-last-child" data-index="3">
    <div class="tg-service-widget tg-service-layout-1">
        <div class="service-wrapper">
            <div class="service-icon-title-wrapper clearfix">
                                        <figure class="service-image-wrap"><img src="../static/adminapp/images/members/pyarelal-photo.jpg"></figure>
                                        <h3 class="service-title-wrap">
                    Dr. V.V Pyarelal							</h3>
                        </div>
                        </div>
    </div>
    </div></div><div id="pgc-1017-2-2" class="panel-grid-cell"><div id="panel-1017-2-2-0" class="so-panel widget widget_themegrill_flash_service tg-widget tg-single-service panel-first-child panel-last-child" data-index="4">
    <div class="tg-service-widget tg-service-layout-1">
        <div class="service-wrapper">
            <div class="service-icon-title-wrapper clearfix">
                                        <figure class="service-image-wrap"><img src="../static/adminapp/images/members/ANUPAMA-PYARELAL.jpg"></figure>
                                        <h3 class="service-title-wrap">
                    Mrs.Anupama Rajesh							</h3>
                        </div>
                        </div>
    </div>
    </div></div><div id="pgc-1017-2-3" class="panel-grid-cell"><div id="panel-1017-2-3-0" class="so-panel widget widget_themegrill_flash_service tg-widget tg-single-service panel-first-child panel-last-child" data-index="5">
    <div class="tg-service-widget tg-service-layout-1">
        <div class="service-wrapper">
            <div class="service-icon-title-wrapper clearfix">
                                        <figure class="service-image-wrap"><img src="../static/adminapp/images/members/passport-size-photo-aarya.jpg"></figure>
                                        <h3 class="service-title-wrap">
                    Dr.Aarya Jaikish							</h3>
                        </div>
                        </div>
    </div>
    </div></div><div id="pgc-1017-2-4" class="panel-grid-cell"><div id="panel-1017-2-4-0" class="so-panel widget widget_themegrill_flash_service tg-widget tg-single-service panel-first-child panel-last-child" data-index="6">
    <div class="tg-service-widget tg-service-layout-1">
        <div class="service-wrapper">
            <div class="service-icon-title-wrapper clearfix">
                                        <figure class="service-image-wrap"><img src="../static/adminapp/images/members/JAIKISH-JAYARAJ-PHOTO.jpg"></figure>
                                        <h3 class="service-title-wrap">
                    Dr.Jaikish Jayaraj							</h3>
                        </div>
                        </div>
    </div>
    </div></div><div id="pgc-1017-2-5" class="panel-grid-cell"><div id="panel-1017-2-5-0" class="so-panel widget widget_themegrill_flash_service tg-widget tg-single-service panel-first-child panel-last-child" data-index="7">
    <div class="tg-service-widget tg-service-layout-1">
        <div class="service-wrapper">
            <div class="service-icon-title-wrapper clearfix">
                                        <figure class="service-image-wrap"><img src="../static/adminapp/images/members/rajesh.jpg"></figure>
                                        <h3 class="service-title-wrap">
                    Adv. Rajesh G							</h3>
                        </div>
                        </div>
    </div>
    </div></div></div><div id="pg-1017-3" class="panel-grid panel-no-style"><div id="pgc-1017-3-0" class="panel-grid-cell"><div id="panel-1017-3-0-0" class="so-panel widget widget_text panel-first-child panel-last-child" data-index="8">			<div class="textwidget"><div id="pg-731-0" class="panel-grid panel-no-style" data-style="{&quot;background_image_attachment&quot;:false,&quot;background_display&quot;:&quot;tile&quot;,&quot;cell_alignment&quot;:&quot;flex-start&quot;}" data-ratio="1" data-ratio-direction="right">
    <div id="pgc-731-0-0" class="panel-grid-cell" data-weight="1">
    <div id="panel-731-0-0-0" class="so-panel widget widget_text panel-first-child panel-last-child" data-index="0" data-style="{&quot;background_image_attachment&quot;:false,&quot;background_display&quot;:&quot;tile&quot;}">
    <h4></h4>
    <h4></h4>
    <h4>Core Values&nbsp; of&nbsp; KVM Group</h4>
    <p>KVM&nbsp; Trust&nbsp; was&nbsp; formed&nbsp; with&nbsp; the&nbsp; intent&nbsp; of&nbsp; meeting&nbsp; the&nbsp; Corporate&nbsp; Social&nbsp; Responsibility&nbsp; of&nbsp; a&nbsp; more&nbsp; than&nbsp; a&nbsp; century&nbsp; old&nbsp; successful and&nbsp; respected&nbsp; business&nbsp; family.</p>
    <p>The&nbsp; Core&nbsp; Values&nbsp; are&nbsp; simple&nbsp; and&nbsp; easily&nbsp; understood&nbsp; and&nbsp; they&nbsp; are:</p>
    <p><strong>Knowledge:&nbsp;</strong></p>
    <p>Establish&nbsp; and&nbsp; manage&nbsp; educational&nbsp; institutions&nbsp; to&nbsp; empower&nbsp; members&nbsp; of&nbsp; society&nbsp; with&nbsp; knowledge&nbsp; required&nbsp; for&nbsp; success&nbsp; in&nbsp; life&nbsp; and&nbsp; to&nbsp; become&nbsp; responsible&nbsp; members&nbsp; of&nbsp; the&nbsp; Society.</p>
    <p><strong>Service:</strong></p>
    <p>Provide service to society through educational institutions for</p>
    <ol>
    <li>the&nbsp; mentally – differently&nbsp; abled&nbsp; and&nbsp; for&nbsp; training&nbsp; teachers&nbsp; for&nbsp; them,</li>
    <li>Training of&nbsp; nurses&nbsp; and&nbsp; paramedicals &nbsp;&nbsp;and Pharmacists</li>
    <li>Providing a&nbsp; livelihood&nbsp; for&nbsp; the&nbsp; differentially&nbsp; enabled&nbsp; in KVM&nbsp; Trust&nbsp; Institutions&nbsp; or</li>
    </ol>
    <p><strong>Excellence</strong></p>
    <p>KVM&nbsp; Group &nbsp;will&nbsp; constantly strive to better the highest standards achieved,&nbsp; in our&nbsp; day-to-day work, in&nbsp; our&nbsp; dealing&nbsp; with&nbsp; all&nbsp; our&nbsp; customers, employees&nbsp; and&nbsp; other&nbsp; stakeholders,&nbsp; and in the quality of the&nbsp; education&nbsp;&nbsp; and&nbsp; other services we provide</p>
    <p><strong>Vision of&nbsp; the&nbsp; KVM Group&nbsp; Institutions</strong></p>
    <p>The&nbsp; Vision&nbsp; for&nbsp; the&nbsp; Group&nbsp; provides&nbsp; direction and&nbsp; focus&nbsp;&nbsp; for&nbsp; all&nbsp; activities&nbsp; of&nbsp; the&nbsp; Group.</p>
    <p>The&nbsp; KVM&nbsp; Vision, as&nbsp; espoused&nbsp; by&nbsp; the&nbsp; Director – KVM Trust&nbsp; is&nbsp; as&nbsp; follows:</p>
    <ol>
    <li><strong>Become a&nbsp; nationally&nbsp; known&nbsp; Charitable&nbsp; Organization</strong></li>
    <li><strong>Grow into&nbsp; a&nbsp; Deemed&nbsp; University&nbsp; with&nbsp; broad&nbsp; presence&nbsp;&nbsp;&nbsp; in</strong></li>
    </ol>
    <p><strong>&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>– Medical</strong></p>
    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>– Technical&nbsp; and&nbsp;</strong></p>
    <p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; – Disability&nbsp; Management&nbsp; areas&nbsp;</strong></p>
    <p><strong>&nbsp;</strong></p>
    </div>
    </div>
    </div>
    </div>
            </div></div><div id="pgc-1017-3-1" class="panel-grid-cell"><div id="panel-1017-3-1-0" class="so-panel widget widget_text panel-first-child" data-index="9"><h3 class="widget-title">Institutions under KVM Trust</h3>			<div class="textwidget"><p><strong>I Charitable Institutions</strong></p>
    <ul>
    <li>KVM Integrated Rehabilitation Centre for Addicts</li>
    <li>KVM School for Mentally Challenged.</li>
    <li>KVM Child Care Centre.</li>
    </ul>
    <p><strong>II Educational &amp; other Institutions</strong></p>
    <ol>
    <li>K VM College of Nursing</li>
    <li>KV School of Nursing</li>
    <li>KVM Institute of Para Medical Sciences</li>
    <li>KVM College of Special Education</li>
    <li>KVM College of Pharmacy</li>
    <li>KVM College of Science &amp; Technology</li>
    <li>KVM College of Arts and Science</li>
    <li>KVM College of Engineering</li>
    <li>KVM Working Women’s Hostel</li>
    </ol>
    </div>
            </div><div id="panel-1017-3-1-1" class="so-panel widget widget_text panel-last-child" data-index="10"><h3 class="widget-title">Websites</h3>			<div class="textwidget"><p><a href="http://www.kvmtrust.in/">www.kvmtrust.in</a></p>
    <p><a href="http://www.kvmcst.in/">www.kvmcst.in</a></p>
    <p><a href="http://www.kvmcas.in/">www.kvmcas.in</a></p>
    <p><a href="http://www.kvmcollegeofnursing.in/">www.kvmcollegeofnursing.in</a></p>
    <p><a href="http://www.kvminstituteofparamedicalsciences.in/">www.kvminstituteofparamedicalsciences.in</a></p>
    <p><a href="http://www.kvmcose.in/">www.kvmcose.in</a></p>
    <p><a href="http://www.kvmpharmacycollege.in/">www.kvmpharmacycollege.in</a></p>
    <p><a href="http://www.kvmce.in/">www.kvmce.in</a></p>
    </div>
            </div></div></div><div id="pg-1017-4" class="panel-grid panel-no-style"><div id="pgc-1017-4-0" class="panel-grid-cell"><div id="panel-1017-4-0-0" class="so-panel widget widget_text panel-first-child panel-last-child" data-index="11"><h3 class="widget-title">Location</h3>			<div class="textwidget"><ul>
    <li>The KVM TRUST is located in the KVM Campus just behind the KVM Hospital at Cherthala on the NH-47.</li>
    <li>2 Km from KSRTC Bus Station and 2.5 Km from Railway Station.</li>
    <li>The nearest airport is at Cochin (Nedumbassery) which is about 70 km away.</li>
    </ul>
    <p><strong>Latitude:</strong>&nbsp;9 (Degree) ; 39 (Minute) ; 56.8002 (Second)<br>
    <strong>Longitude:</strong>&nbsp;76 (Degree) ; 20 (Minute) ; 26.6964 (Second)</p>
    </div>
            </div></div><div id="pgc-1017-4-1" class="panel-grid-cell"><div id="panel-1017-4-1-0" class="widget_text so-panel widget widget_custom_html panel-first-child panel-last-child" data-index="12"><h3 class="widget-title">Google Location</h3><div class="textwidget custom-html-widget"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15732.713707991195!2d76.340797!3d9.665791!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x65c65fc23a6e76d4!2sKVM%20Trust!5e0!3m2!1sen!2sin!4v1589370271509!5m2!1sen!2sin" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div></div></div></div></div>	</div><!-- .entry-content -->
    
        
        
    </article><!-- #post-## -->
    
            </main><!-- #main -->
        </div><!-- #primary -->
    
        
    
            </div><!-- .tg-container -->
        </div><!-- #content -->
    
        
        
      
    <script type="text/javascript">
    WebFont.load({google:{families:['Montserrat:400:cyrillic,cyrillic-ext,devanagari,greek,greek-ext,khmer,latin,latin-ext,vietnamese,hebrew,arabic,bengali,gujarati,tamil,telugu,thai']}});
    </script>
    
    <script type="text/javascript">document.body.className = document.body.className.replace("siteorigin-panels-before-js","");</script>
    
    
    <div class="buttonizer buttonizer-group buttonizer-style-faded buttonizer-animation-hello bottom left buttonizer-is-menu buttonizer-desktop-has-0 buttonizer-mobile-has-2" data-buttonizer="buttonizer-CyDSif0Hv2Rzic8"><div class="buttonizer-button-list"><a class="buttonizer-button button-mobile-1 button-hide-desktop" data-buttonizer="buttonizer-button-sqetbuTAHVOULTn" href="javascript:void(0)"><i class="fas fa-phone"></i></a><a class="buttonizer-button button-mobile-2 button-hide-desktop" data-buttonizer="buttonizer-button-AkVDyEfdSyXeZ7d" href="javascript:void(0)"><i class="far fa-envelope"></i></a></div><a href="javascript:void(0)" class="buttonizer-button buttonizer-head show-label-desktop-hover"><i class="fa fa-plus"></i></a></div><span class="foobox_font_preload">f</span></body></html>


{% endblock %}    
