{% extends 'adminapp/alayout.html' %}
{% block content %}

<link rel="stylesheet" id="flash-style-css" href="../static/adminapp/css/style2.css" type="text/css" media="all">

<nav id="flash-breadcrumbs" class="breadcrumb-trail breadcrumbs">
    <div class="tg-container">
        <h1 class="trail-title">Bsc Nursing</h1>			<ul class="trail-items"><li class="trail-item trail-begin"><a class="trail-home" href="http://kvmtrust.in" title="Home"><span>Home</span></a></li><li class="trail-item"><span>Bsc Nursing</span></li></ul>		</div>
</nav>

<div id="content" class="site-content">
    <div class="tg-container">


<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">

        
<article id="post-804" class="post-804 page type-page status-publish hentry">


<div class="entry-content">
    <div id="pl-804" class="panel-layout"><div id="pg-804-0" class="panel-grid panel-no-style"><div id="pgc-804-0-0" class="panel-grid-cell"><div id="panel-804-0-0-0" class="so-panel widget widget_text panel-first-child panel-last-child" data-index="0">			<div class="textwidget"><h2 class="contentheading"><a name="bsc"></a>B.Sc Nursing</h2>
<p><b>Objectives</b></p>
<p>On completion of the course the students will be able to:</p>
<ul>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Assess health status, identify nursing problems, plan, implement and evaluate nursing care for patients that contribute to health of the individuals, families and communities.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Demonstrate competency in the skills and techniques.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Participate with members of the health team in the promotive, preventive &amp; restorative health care delivery system of the country.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Demonstrate leadership quality and decision making abilities in various institutions.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Develop basic skills in nursing research.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Recognize the need for continued learning for personal and professional development. Participate in health planning, implementation and evaluation at different levels of health care system.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Demonstrate competence in teaching, management interpersonal relation and communication.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Contribute effectively as a responsible citizen and practice ethical values in their personal and professional life.</li>
</ul>
<div class="ja-typo-blockct clearfix">
<div class="roundedboxTable">&nbsp; Downloads / Forms<br>
<a href="http://kvmtrust.in/index.php/courses_con#" target="_blank" rel="noopener">&nbsp;&nbsp;<strong>B.Sc Syllabus&nbsp;</strong></a>. .&nbsp;<a href="../static/adminapp/pdf/KvmApplForm.pdf" target="_blank" rel="noopener"><strong>Application Form&nbsp;</strong></a>. .&nbsp;<a href="{% url 'online_appl' %}"><strong>Register Online</strong></a></div>
</div>
</div>
    </div></div></div></div>	</div><!-- .entry-content -->



</article><!-- #post-## -->

    </main><!-- #main -->
</div><!-- #primary -->



    </div><!-- .tg-container -->
</div>





{% endblock %}    
