{% extends 'adminapp/alayout.html' %}
{% block content %}
<body>
<style>


        .breadcrumb-trail.breadcrumbs {
    background: #fafafa none repeat scroll 0 0;
    margin-bottom: 30px;
}
.tg-container {
    max-width: 1250px;
    margin: 0 auto;
}

h1{
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    color: black;
    padding: 86px 0 10px 0;
}
        div{
            border: 0;
            font-family: inherit;
            font-size: 100%;
            font-style: inherit;
            font-weight: inherit;
            margin: 0;
            outline: 0;
            padding: 0;
            vertical-align: baseline;
            word-break: break-word;
        }
        h3{
            margin-bottom: 0.5rem;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.2;
            color: inherit;
        }
        #pl-1017 .so-panel, #pl-1017 .so-panel:last-child {
            margin-bottom: 0px;
        }
        
        .panel-grid-cell .panel-last-child {
            margin-bottom: 0;
        }
        .panel-grid-cell .so-panel {
            zoom: 1;
        }
        #pgc-1017-3-1 {
            width: 50%;
            width: calc(50% - ( 0.5 * 30px ) );
        }
        .panel-grid-cell {
            -ms-box-sizing: border-box;
            box-sizing: border-box;
        }
         #pl-1017 .so-panel{
            margin-bottom: 0px;
        }
        .panel-grid-cell .so-panel {
            zoom: 1;
        }
        
        
                 .panel-grid.panel-no-style {
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: nowrap;
            -ms-justify-content: space-between;
            justify-content: space-between;
        }
        
        .panel-grid.panel-no-style {
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: nowrap;
            -ms-justify-content: space-between;
            justify-content: space-between;
        }
        

</style>

    

<nav id="flash-breadcrumbs" class="breadcrumb-trail breadcrumbs">
    <div class="tg-container">
        <h1>Corporate Video</h1>
</nav>
<div id="content" class="site-content">
    <div class="tg-container">


<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">

        
<article id="post-858" class="post-858 page type-page status-publish hentry">


<div class="entry-content">
    <!-- <div id="pl-858" class="panel-layout"><div id="pg-858-0" class="panel-grid panel-no-style"><div id="pgc-858-0-0" class="panel-grid-cell"><div id="panel-858-0-0-0" class="widget_text so-panel widget widget_custom_html panel-first-child panel-last-child" data-index="0"><div class="textwidget custom-html-widget"><iframe width="100%" height="315" src="https://www.youtube.com/embed/zxuR8dXE_LA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div></div></div> -->
    <!-- <div id="pgc-858-0-1" class="panel-grid-cell"><div id="panel-858-0-1-0" class="widget_text so-panel widget widget_custom_html panel-first-child panel-last-child" data-index="1"><div class="textwidget custom-html-widget"><iframe width="100%" height="315" src="https://www.youtube.com/embed/GmHtLjKX2gk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div></div></div> -->
    <div id="pgc-858-0-2" class="panel-grid-cell"><div id="panel-858-0-2-0" class="widget_text so-panel widget widget_custom_html panel-first-child panel-last-child" data-index="2"><div class="textwidget custom-html-widget"><iframe width="100%" height="315" src="https://www.youtube.com/embed/lZkPK9WbRL4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div></div></div>
    <!-- <div id="pgc-858-0-3" class="panel-grid-cell"><div id="panel-858-0-3-0" class="widget_text so-panel widget widget_custom_html panel-first-child panel-last-child" data-index="3"><div class="textwidget custom-html-widget"><iframe width="100%" height="315" src="https://www.youtube.com/embed/z110_HFgp4E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div></div></div><!-- .entry-content --></div></div>	</div> -->





</article><!-- #post-## -->

    </main><!-- #main -->
</div><!-- #primary -->



    </div><!-- .tg-container -->
</div>


</body>





{% endblock %}    
