{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" id="flash-style-css" href="../static/adminapp/css/style2.css" type="text/css" media="all">
<style>
	 h1{
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
	margin-top: 76;
}
table
{
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    word-break: break-word;
}




</style>
<body>

    <nav id="flash-breadcrumbs" class="breadcrumb-trail breadcrumbs">
		<div class="tg-container">
			<h1 class="trail-title">GNM Courses</h1>			<ul class="trail-items"><li class="trail-item trail-begin"><a class="trail-home" href="http://kvmtrust.in" title="Home"><span>Home</span></a></li><li class="trail-item"><span>GNM Courses</span></li></ul>		</div>
	</nav>



    <div id="content" class="site-content">
		<div class="tg-container">

	
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

			
<article id="post-832" class="post-832 page type-page status-publish hentry">

	
	<div class="entry-content">
		<div id="pl-832" class="panel-layout"><div id="pg-832-0" class="panel-grid panel-no-style"><div id="pgc-832-0-0" class="panel-grid-cell"><div id="panel-832-0-0-0" class="so-panel widget widget_text panel-first-child panel-last-child" data-index="0">			<div class="textwidget"><table>
<tbody>
<tr>
<td width="20%">
<h2 class="contentheading">Course</h2>
</td>
<td width="73%">
<h2 class="contentheading">Eligibility Criteria</h2>
</td>
<td align="right" width="7%">
<h2 class="contentheading">Intake</h2>
</td>
</tr>
<tr>
<td colspan="3" align="center"></td>
</tr>
<tr>
<td valign="top"><img src="http://kvmtrust.in/images/icons/readmore.png"><b>&nbsp;Diploma In General Nursing &amp; Midwifery Course</b><br>
(3 and half years)</td>
<td valign="top">GNM Programme is skill- oriented programme and is recognised by Government of Kerala, Kerala Nurses &amp; Midwives Council, Government of India and the Indian Nursing Council. A pass in Plus Two Examination or its equivalent with Physics, Chemistry and Biology as optional subjects with an aggregate of 45% marks for Physics, Chemistry and Biology</td>
<td align="right" valign="top">60</td>
</tr>
<tr>
<td></td>
<td align="center"></td>
<td></td>
</tr>
<tr>
<td valign="top"><img src="http://kvmtrust.in/images/icons/readmore.png"><b>&nbsp;Auxiliary Nurses and Midwifery Course [ ANM ]</b><br>
(2 Years)</td>
<td valign="top">Plus2 (Any group). Open school students are also eligible.</td>
<td align="right" valign="top">40</td>
</tr>
</tbody>
</table>
<p class="contentheading"><a name="facilities"></a><br>
FACILITIES</p>
<p><b>Personality Development Programmes</b><br>
The school offers a few additional courses to students for their all-round development. Special Programmes aimed at improving the personality and professional competence such as classes for Communicative English are a few among them. Student counselling by trained counsellors and psychologists is also provided.</p>
<p><b>Extra Curricular Activities</b><br>
The school gives ample oppurtunities for its stsudents to display their talents and improve upon them. A well-organised Student Nurses Association is functioning here under the leadership of the Principal and SNA Advisor. Regular cultural programmes and annual sports events are held towards this goal.</p>
</div>
		</div></div></div></div>	</div><!-- .entry-content -->

	
	
</article><!-- #post-## -->

		</main><!-- #main -->
	</div><!-- #primary -->

	

		</div><!-- .tg-container -->
	</div>




</body>


{% endblock %}    
