{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" id="flash-style-css" href="../static/adminapp/css/style2.css" type="text/css" media="all">
             

<nav id="flash-breadcrumbs" class="breadcrumb-trail breadcrumbs">
    <div class="tg-container">
        <h1 class="trail-title">Msc Nursing</h1>			<ul class="trail-items"><li class="trail-item trail-begin"><a class="trail-home" href="http://kvmtrust.in" title="Home"><span>Home</span></a></li><li class="trail-item"><span>Msc Nursing</span></li></ul>		</div>
</nav>

<div id="content" class="site-content">
    <div class="tg-container">


<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">

        
<article id="post-801" class="post-801 page type-page status-publish hentry">


<div class="entry-content">
    <div id="pl-801" class="panel-layout"><div id="pg-801-0" class="panel-grid panel-no-style"><div id="pgc-801-0-0" class="panel-grid-cell"><div id="panel-801-0-0-0" class="so-panel widget widget_text panel-first-child panel-last-child" data-index="0">			<div class="textwidget"><h2 class="contentheading">Courses</h2>
<!-- <table width="100%">
<tbody>
<tr>
<td width="20%"></td>
<td colspan="2" align="right" width="80%"><a href="http://kvmtrust.in/index.php/download?cat=KvmApplForm"><strong>Download Application Form&nbsp;</strong></a>. . . . | . . . .&nbsp;<a href="http://kvmtrust.in/index.php/registration"><strong>Register Online</strong></a>&nbsp;<img src="http://kvmtrust.in/images/shade_bottom.png" width="350" height="12"></td>
</tr>
</tbody>
</table> -->
<p><a name="msc"></a></p>
<h2 class="contentheading"><a name="msc"></a>M.Sc Nursing</h2>
<p>The Master of Science in Nursing program is designed to prepare nurse experts in advanced practice and / or management for leadership in professional nursing practice and patient centred health care delivery. The program broadens the perspective of students by requiring them to take innovative interdisciplinary approaches to resolve health care problems. The program blends nursing theory with advanced practice concepts necessary to successfully work within the structure, culture and mission in a health care organization or educational setting of any size.</p>
<p><b>Specialisations</b></p>
<ul>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Medical-Surgical Nursing (Cardio Vascular &amp; Thoracic Nursing, Critical care Nursing, Oncology Nursing, Neurosciences Nursing, Nephro-Urology Nursing, Orthopedic Nursing, Gastro Enterology Nursing)</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Child Health Nursing</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Obstetric &amp; Gynecological Nursing</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Community Health Nursing</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Mental Health (Psychiatric) Nursing</li>
</ul>
<p><b>Objectives</b></p>
<p>On completion of the 2 year MSc Nursing programme, the graduates will be able to :</p>
<ul>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Apply the concepts, theories &amp; principle of nursing science</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Demonstrate competencies in nursing practice</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Practice as Clinical Nurse Specialist.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Establish collaborative relationship with the members of other disciplines.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Assume leadership in various care settings</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Participate in health planning, implementation and evaluation at different levels of health care system.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Function as effective nurse educators and nurse managers.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Conduct independent nursing research and utilize the health research findings in nursing practice and education.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Critically evaluate various educational programmes in nursing.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Demonstrate interest and positive attitude in continuing education for personal and professional growth.</li>
</ul>
<div class="ja-typo-blockct clearfix">
<div class="roundedboxTable">&nbsp; Downloads / Forms<br>
<a href="http://kvmtrust.in/index.php/courses_con#" target="_blank" rel="noopener">&nbsp;&nbsp;<strong>M.Sc Syllabus&nbsp;</strong></a>. .&nbsp;<a href="../static/adminapp/pdf/KvmApplForm.pdf" target="_blank" rel="noopener"><strong>Application Form&nbsp;</strong></a>. .&nbsp;<a href="{% url 'online_appl' %}"><strong>Register Online</strong></a></div>
</div>
</div>
    </div></div></div></div>	</div><!-- .entry-content -->



</article><!-- #post-## -->

    </main><!-- #main -->
</div><!-- #primary -->



    </div><!-- .tg-container -->
</div>
{% endblock %}    
