{% extends 'adminapp/alayout.html' %}
{% block content %}

<body>
<main> 
    <div>

        <h4>News and Events</h4>

<nav>
    <div class="container" style="height: 2000px;">
        <div class="column">
        <div class="up-title">1</div>
         <div class="post-card hover">
         <div class="post-img">
              <div class="date">
             <div class="day">15</div>
             <div class="month">Aug</div>
             </div>
              <img src="../static/adminapp/images/news&events/sna-unit-level-arts-competition.jpg" />
         </div>
        <div class="post-content">
          <div class="category">Photos</div>
          <h1 class="title"></h1>
          <h2  class="sub_title" ><a href="{% url 'online_appl' %}">SNA UNIT LEVEL ARTS COMPETITIONS 2018-19</a></h2>
          <p class="description">Unit level SNA arts competitions were conducted on 12.01.19. Ms. Neenu P A arts club secretary inaugurated the function along […]</p>
          <!-- <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div> -->
        </div>
      </div>
      
    </div>

    <div class="container" style="height: 2000px;">
        <div class="column">
        <div class="up-title">2</div>
         <div class="post-card hover">
         <div class="post-img">
              <div class="date">
             <div class="day">15</div>
             <div class="month">Aug</div>
             </div>
              <img src="../static/adminapp/images/news&events/LAMP-LIGHTING-AND-CHRISTMAS-CELEBRATION.jpg" />
         </div>
        <div class="post-content">
          <div class="category">Photos</div>
          <h1 class="title"></h1>
          <h2 class="sub_title" ><a href="{% url 'online_appl' %}">LAMP LIGHTING AND CHRISTMAS CELEBRATION</a></h2>
          <p class="description">The lamp lighting function of 1st year Bsc Nursing students was celebrated on 22.12.18. Sr. Pheba, Nursing superintendent of St.Gregorious</p>
          <!-- <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div> -->
        </div>
      </div>
      
      
    </div>


    <!-- <div class="container" style="height: 2000px;">
        <div class="column">
        <div class="up-title">Normal state</div>
         <div class="post-card hover">
         <div class="post-img">
              <div class="date">
             <div class="day">15</div>
             <div class="month">Aug</div>
             </div>
              <img src="https://images.unsplash.com/photo-1467307983825-619715426c70?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=fae278c7b8eeffec370bda6e42f5a827" />
         </div>
        <div class="post-content">
          <div class="category">Photos</div>
          <h1 class="title">India</h1>
          <h2 class="sub_title">An upcoming superpower</h2>
          <p class="description">India is a vast South Asian country with diverse terrain – from Himalayan peaks to Indian Ocean coastline – and history reaching back 5 millennia.</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
        </div>
      </div>
      
      
    </div>


    <div class="container" style="height: 2000px;">
        <div class="column">
        <div class="up-title">Normal state</div>
         <div class="post-card hover">
         <div class="post-img">
              <div class="date">
             <div class="day">15</div>
             <div class="month">Aug</div>
             </div>
              <img src="https://images.unsplash.com/photo-1467307983825-619715426c70?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=fae278c7b8eeffec370bda6e42f5a827" />
         </div>
        <div class="post-content">
          <div class="category">Photos</div>
          <h1 class="title">India</h1>
          <h2 class="sub_title">An upcoming superpower</h2>
          <p class="description">India is a vast South Asian country with diverse terrain – from Himalayan peaks to Indian Ocean coastline – and history reaching back 5 millennia.</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
        </div>
      </div>
      
      
    </div>



    <div class="container" style="height: 2000px;">
        <div class="column">
        <div class="up-title">Normal state</div>
         <div class="post-card hover">
         <div class="post-img">
              <div class="date">
             <div class="day">15</div>
             <div class="month">Aug</div>
             </div>
              <img src="https://images.unsplash.com/photo-1467307983825-619715426c70?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=fae278c7b8eeffec370bda6e42f5a827" />
         </div>
        <div class="post-content">
          <div class="category">Photos</div>
          <h1 class="title">India</h1>
          <h2 class="sub_title">An upcoming superpower</h2>
          <p class="description">India is a vast South Asian country with diverse terrain – from Himalayan peaks to Indian Ocean coastline – and history reaching back 5 millennia.</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
        </div>
      </div>
      
      
    </div>



    <div class="container" style="height: 2000px;">
        <div class="column">
        <div class="up-title">Normal state</div>
         <div class="post-card hover">
         <div class="post-img">
              <div class="date">
             <div class="day">15</div>
             <div class="month">Aug</div>
             </div>
              <img src="https://images.unsplash.com/photo-1467307983825-619715426c70?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=fae278c7b8eeffec370bda6e42f5a827" />
         </div>
        <div class="post-content">
          <div class="category">Photos</div>
          <h1 class="title">India</h1>
          <h2 class="sub_title">An upcoming superpower</h2>
          <p class="description">India is a vast South Asian country with diverse terrain – from Himalayan peaks to Indian Ocean coastline – and history reaching back 5 millennia.</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
        </div>
      </div>
      
      
    </div>


 -->






    

<!---

    
    <div class="column">
      <div class="up-title">Hover state</div>
          <div class="post-card hover">
        <div class="post-img">
          <div class="date">
            <div class="day">15</div>
            <div class="month">Aug</div>
          </div>
          <img src="https://images.unsplash.com/photo-1467307983825-619715426c70?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=fae278c7b8eeffec370bda6e42f5a827" />
        </div>
        <div class="post-content">
          <div class="category">Photos</div>
          <h1 class="title">India </h1>
          <h2 class="sub_title">An upcoming superpower</h2>
          <p class="description">India is a vast South Asian country with diverse terrain – from Himalayan peaks to Indian Ocean coastline – and history reaching back 5 millennia.</p>
           <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
        </div>
      </div>
    </div>   -->
  </div>

</nav>

</div>
</main>

</body>
{% endblock %}    
