{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" id="flash-style-css" href="../static/adminapp/css/style2.css" type="text/css" media="all">


<!-- 
<style>
    div{
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    word-break: break-word;
}
p {
    margin: 0 0 30px;
}
p{
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    word-break: break-word;
}
.breadcrumb-trail.breadcrumbs .trail-title {
    float: left;
    font-weight: 400;
    font-size: 25px;
    padding: 6px 0;
}
h1{
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}


</style> -->

<nav id="flash-breadcrumbs" class="breadcrumb-trail breadcrumbs">
    <div class="tg-container">
        <h1 class="trail-title">Placement Cell</h1>			<ul class="trail-items"><li class="trail-item trail-begin"><a class="trail-home" href="http://kvmtrust.in" title="Home"><span>Home</span></a></li><li class="trail-item"><span>Placement Cell</span></li></ul>		</div>
</nav>


<div id="content" class="site-content">
    <div class="tg-container">


<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">

        
<article id="post-866" class="post-866 page type-page status-publish hentry">


<div class="entry-content">
    <div id="pl-866" class="panel-layout"><div id="pg-866-0" class="panel-grid panel-no-style"><div id="pgc-866-0-0" class="panel-grid-cell"><div id="panel-866-0-0-0" class="so-panel widget widget_text panel-first-child panel-last-child" data-index="0">			<div class="textwidget"><h2 class="contentheading">Placements</h2>
<p>Recognizing the urgent need to establish a close rapport with industries and business establishments, for fulfilling the needs of placements of students, and for other mutually beneficial activities, a dedicated cell called Institute Industry Interactive Cell has been formed.</p>
<h2 class="contentheading">Training &amp; Activities</h2>
<p>The more one is exposed to a situation, the better he/she will be to handle such situations.<br>
Exposing to probable stress situations will definitely provide a better edge to the professionals-to -be in the college. The smart professionals of today are prepared for all the challenges of tomorrow. This department ensures that students, of any discipline, of the college will undergo “for the job training” prior to placements. And, there are weekly sessions held to tighten the command over English.<br>
The sessions are made quite interactive to enable the smooth participation of the students through various English games, intellectual activities and by directing them to think big! Besides speaking, writing, listening and reading, the students are guided to analyse a company, to draft a befitting resume and are taken through the appropriate mannerisms, and expected behaviours of a professional. The efforts are to mould a better professional out of the student.<br>
The trainings are not restricted to the students of the college alone. There are training packages available for the students and professionals outside as well.<br>
The areas wherein the department concentrates are:<br>
1. Communicative skills 2. Enhancing creativity 3. Grooming oneself 4. Motivation and positivity 5. ‘For the job’ training to handle the pressure of interviews and group discussions.</p>
</div>
    </div></div></div></div>	</div><!-- .entry-content -->



</article><!-- #post-## -->

    </main><!-- #main -->
</div><!-- #primary -->



    </div><!-- .tg-container -->
</div>











{% endblock %}    
