{% extends 'adminapp/alayout.html' %}
{% block content %}

<link rel="stylesheet" id="flash-style-css" href="../static/adminapp/css/style2.css" type="text/css" media="all">


<nav id="flash-breadcrumbs" class="breadcrumb-trail breadcrumbs">
    <div class="tg-container">
        <h1 class="trail-title">Post Basic Bsc Nursing</h1>			<ul class="trail-items"><li class="trail-item trail-begin"><a class="trail-home" href="http://kvmtrust.in" title="Home"><span>Home</span></a></li><li class="trail-item"><span>Post Basic Bsc Nursing</span></li></ul>		</div>
</nav>

<div id="content" class="site-content">
    <div class="tg-container">


<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">

        
<article id="post-806" class="post-806 page type-page status-publish hentry">


<div class="entry-content">
    <div id="pl-806" class="panel-layout"><div id="pg-806-0" class="panel-grid panel-no-style"><div id="pgc-806-0-0" class="panel-grid-cell"><div id="panel-806-0-0-0" class="so-panel widget widget_text panel-first-child panel-last-child" data-index="0">			<div class="textwidget"><h2 class="contentheading"><a name="postbasic"></a>Post Basic B.Sc Nursing</h2>
<p>This undergraduate program at the Post Basic level aims to upgrade diploma (GNM) nurses to assume responsibilities as professionally competent nurses and midwives at the basic level in providing promotive, preventive, curative and rehabilitative services.</p>
<p><b>Objectives</b></p>
<p>On completion of the BSc Nursing (Post-Basic) degree programme the graduates will be able to:</p>
<ul>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Assess health status, identify nursing problems, plan, implement and evaluate nursing care for patients that contribute to health of the individuals, families and communities.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Demonstrate competency in techniques of nursing based on concepts and principles from selected areas of nursing, physical, biological and behavioural sciences.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Participate as members of a health team in the promotive, preventive, curative and restorative health-care delivery system of the country.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Demonstrate skills in communication and inter-personal relationship.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Demonstrate leadership qualities and decision-making abilities in various situations.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Demonstrate skills in teaching individuals.</li>
</ul>
<div class="ja-typo-blockct clearfix">
<div class="roundedboxTable">&nbsp; Downloads / Forms<br>
<a href="http://kvmtrust.in/index.php/courses_con#" target="_blank" rel="noopener">&nbsp;&nbsp;<strong>Post Basic B.Sc Nursing Syllabus&nbsp;</strong></a>. .&nbsp;<a href="../static/adminapp/pdf/KvmApplForm.pdf" target="_blank" rel="noopener"><strong>Application Form&nbsp;</strong></a>. .&nbsp;<a href="{% url 'online_appl' %}"><strong>Register Online</strong></a></div>
</div>
</div>
    </div></div></div></div>	</div><!-- .entry-content -->



</article><!-- #post-## -->

    </main><!-- #main -->
</div><!-- #primary -->



    </div><!-- .tg-container -->
</div>





{% endblock %}    
