{% extends 'adminapp/alayout.html' %}
{% block content %}

<link rel="stylesheet" id="flash-style-css" href="../static/adminapp/css/style2.css" type="text/css" media="all">



<nav id="flash-breadcrumbs" class="breadcrumb-trail breadcrumbs">
    <div class="tg-container">
        <h1 class="trail-title">B Sc. MEDICAL LABORATORY TECHNOLOGY</h1>			<ul class="trail-items"><li class="trail-item trail-begin"><a class="trail-home" href="http://kvmtrust.in" title="Home"><span>Home</span></a></li><li class="trail-item"><span>B Sc. MEDICAL LABORATORY TECHNOLOGY</span></li></ul>		</div>
</nav>




<div id="content" class="site-content">
    <div class="tg-container">


<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">

        
<article id="post-824" class="post-824 page type-page status-publish hentry">


<div class="entry-content">
    <div id="pl-824" class="panel-layout"><div id="pg-824-0" class="panel-grid panel-no-style"><div id="pgc-824-0-0" class="panel-grid-cell"><div id="panel-824-0-0-0" class="so-panel widget widget_text panel-first-child panel-last-child" data-index="0">			<div class="textwidget"><h2 class="contentheading"><a>B Sc. MEDICAL LABORATORY TECHNOLOGY<b class="ja-typo-icon icon-error"></b></a></h2>
<p>On completion of the course the candidate shall:-</p>
<p>1. Aware of the principle undergoing the organization of a clinical laboratory.<br>
2. Able to do routine and special investigative procedures in medical laboratory practice.<br>
3. Have a good theoretical and practical background to work in the field of Medical Laboratory Technology.<br>
4. Develop knowledge and skill in accordance with the society’s demand in Medical Laboratory Technology.<br>
5. Qualified for official approval as Medical Laboratory Technologist.<br>
6. Able to operate and maintain all equipments used in laboratory practice.<br>
7. Able to establish and manage a clinical or research laboratory.</p>
<p><a name="DMLT"></a></p>
<p>&nbsp;</p>
</div>
    </div></div></div></div>	</div><!-- .entry-content -->



</article><!-- #post-## -->

    </main><!-- #main -->
</div><!-- #primary -->



    </div><!-- .tg-container -->
</div>




{% endblock %}    
