{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" id="flash-style-css" href="../static/adminapp/css/style2.css" type="text/css" media="all">

<body>



    <nav id="flash-breadcrumbs" class="breadcrumb-trail breadcrumbs">
        <div class="tg-container">
            <h1 class="trail-title">Certificate in Pharma Management</h1>			<ul class="trail-items"><li class="trail-item trail-begin"><a class="trail-home" href="http://kvmtrust.in" title="Home"><span>Home</span></a></li><li class="trail-item"><span>Certificate in Pharma Management</span></li></ul>		</div>
    </nav>

    <div id="content" class="site-content">
		<div class="tg-container">

	
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

			
<article id="post-845" class="post-845 page type-page status-publish hentry">

	
	<div class="entry-content">
		<div id="pl-845" class="panel-layout"><div id="pg-845-0" class="panel-grid panel-no-style"><div id="pgc-845-0-0" class="panel-grid-cell"><div id="panel-845-0-0-0" class="so-panel widget widget_text panel-first-child panel-last-child" data-index="0">			<div class="textwidget"><h2 class="contentheading"><a name="msc"></a>Certificate in Pharma Management By IIMR</h2>
<p><b>ABOUT IIMR</b></p>
<p>Indian Institute of Medical Representative (IIMR)has been established in 2000 and is registered under the company act ,1956.The institute has been adopting innovative methodology to assist the student community in fulfilling their objectives and aspiration for their career growth in pharma sector.</p>
<p><img src="http://kvmtrust.in/images/shade_bottom.png" width="650" height="12px"></p>
<p><b>SALIENT FEATURES</b></p>
<ul>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Only institute in Asia for training Medical Representative.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Specialized courses in pharmaceutical marketing and management.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Corporate relations with more than 300 india / MNC companies.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;100% placement record.</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;More than 10600 students successfully placed in reputed pharma companies</li>
<li><img src="http://kvmtrust.in/images/arrow5.png">&nbsp;Unique career orientation Programmes ,Guidance &amp; counseling.</li>
</ul>
<p><img src="http://kvmtrust.in/images/shade_bottom.png" width="650" height="12px"></p>
<p><b>ABOUT PHARMA MANAGEMENT COURSE</b></p>
<table class="ja-typo-box box-rounded box-grey-1" width="100%">
<tbody>
<tr bgcolor="#F5F5F5">
<th width="5%">S.NO</th>
<th width="25%">COURSE</th>
<th width="15%">DURATION</th>
<th width="15%">DURATION</th>
<th width="15%">FEE(Rs)</th>
<th width="15%">FEE(Rs) IN 2 INSTALLMENT</th>
</tr>
<tr>
<td>1</td>
<td>Certificate in Pharma Management (CPM)</td>
<td>3 Months</td>
<td>3 hrs/day 5 days Week</td>
<td>30,000</td>
<td>16,000</td>
</tr>
</tbody>
</table>
<p><b>ELIGIBILITY</b>:B.A, B.Com, BBA, BCA, B.Sc., B.Pharma, M. Pharma., B.Sc. Biotec, M.Sc. Biotec, B.Sc. Micro Biology, M.Sc. Micro Biology, D.PHARMA, Vet Science, Graduate and Post Graduate in any stream.</p>
</div>
		</div></div></div></div>	</div><!-- .entry-content -->

	
	
</article><!-- #post-## -->

		</main><!-- #main -->
	</div><!-- #primary -->

	

		</div><!-- .tg-container -->
	</div>

</body>



{% endblock %}    
