{% extends 'adminapp/alayout.html' %}
{% block content %}
<link rel="stylesheet" id="flash-style-css" href="../static/adminapp/css/style2.css" type="text/css" media="all">


<nav id="flash-breadcrumbs" class="breadcrumb-trail breadcrumbs">
    <div class="tg-container">
        <h1 class="trail-title">DIPLOMA IN MEDICAL LABORATORY TECHNOLOGY</h1>			<ul class="trail-items"><li class="trail-item trail-begin"><a class="trail-home" href="http://kvmtrust.in" title="Home"><span>Home</span></a></li><li class="trail-item"><span>DIPLOMA IN MEDICAL LABORATORY TECHNOLOGY</span></li></ul>		</div>
</nav>


<div id="content" class="site-content">
    <div class="tg-container">


<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">

        
<article id="post-828" class="post-828 page type-page status-publish hentry">


<div class="entry-content">
    <div id="pl-828" class="panel-layout"><div id="pg-828-0" class="panel-grid panel-no-style"><div id="pgc-828-0-0" class="panel-grid-cell"><div id="panel-828-0-0-0" class="so-panel widget widget_text panel-first-child panel-last-child" data-index="0">			<div class="textwidget"><h2 class="contentheading">DIPLOMA IN MEDICAL LABORATORY TECHNOLOGY<b class="ja-typo-icon icon-error"></b></h2>
<p><a name="DMLT"></a></p>
<p>Medical laboratory technology is a fast developing diagnostic technology, which deals with the laboratory investigations to be used for the proper diagnosis of disease. The laboratory diagnosis helps the physicians for the correct line of treatment for the patients. There are mainly three main subjects such as Biochemistry, Microbiology including General Microbiology, Bacteriology, Immunology, Mycology, Virology and parasitology, clinical pathology, Cytology, histopathology and Blood banking.</p>
<p><b>Objectives&nbsp;</b>To train the students for carrying out the laboratory investigations accurately and report to the Medical Officers which will help them in deciding the correct line of treatment for the patients.<a name="DOTT"></a></p>
<h2 class="contentheading">DIPLOMA IN OPERATION THEATRE TECHNOLOGY<b class="ja-typo-icon icon-error"></b><a name="DOTT"></a></h2>
<p>A variety of electrical and electronic equipments are in use in modern operation theatres for monitoring anesthesia and surgical procedures. The success of the procedures and safety of patients depend largely on the reliability, smooth and trouble free performance of these equipments and skilled anesthesia. So there is increased demand for qualified and trained hands in the field. The course is designed to assist anesthesiologist in the operation theatre, CCU, Post Operative rooms as well as in the operation and maintenance of theatre equipments and hospital pipeline system.</p>
</div>
    </div></div></div></div>	</div><!-- .entry-content -->



</article><!-- #post-## -->

    </main><!-- #main -->
</div><!-- #primary -->



    </div><!-- .tg-container -->
</div>


{% endblock %}    
